.questions {
    min-height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}


@media screen and (max-width: 750px) {
    .questions {
        min-height: 100dvh;
        height: 100dvh;
    }
    
}

